<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baxify</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="http://baxify.com/assets/images/logo.svg">
</head>

<body>
    <!-- nav-one -->
    <nav class="nav-one">
        <div class="row d-flex">
            <div class="left d-flex">
                <div class="email d-flex">
                    <i class="ri-mail-line"></i>
                    <span>baxify.contact@gmail.com</span>
                </div>
                <div class="call d-flex">
                    <i class="ri-phone-fill"></i>
                    <span>+1 512 434 6781</span>
                </div>
            </div>
            <div class="right d-flex">
                <div class="face d-flex">
                    <i class="ri-facebook-fill"></i>
                    <span>facebook</span>
                </div>
                <div class="ins d-flex">
                    <i class="ri-instagram-line"></i>
                    <span>instagram</span>
                </div>
            </div>
        </div>
    </nav>

    <!-- @2nd navbar -->

    <nav class="nav-2nd">
        <div class="row-2 d-flex">
            <div class="logo">
                <img src="http://baxify.com/assets/images/logo.svg" alt="">
            </div>
            <div class="list">
                <ul class="d-flex">
                    <li class="{% if request.path == '/' %} active {% endif %}" ><a href="/">home</a></li>
                    <li class="{% if request.path == '/pricing/' %} active {% endif %}" ><a href="/pricing">Pricing</a></li>
                    <li class="{% if request.path == '/contact/' %} active {% endif %}" ><a href="/contact">Contact Us</a></li>
                    <li class="{% if request.path == '/privacy-policy/' %} active {% endif %}" ><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="btn">
                <a href="/logIn"><button class="log">Login</button></a>
                <a href="/logOut"><button class="reg">Register</button></a>
            </div>
        </div>
    </nav>


    <!-- Privacy Policy start -->
    <section class="privacy">
        <h1>Privacy Policy</h1>
        <div class="privacy-policy-main">
            <div class="h6-head">
                <h6>At Baxify, we are committed to protecting the privacy and security of our customers’ personal
                    information. This Privacy Policy explains how we collect, use, and protect your information when you
                    use
                    our postage label service.</h6>
            </div>
            <div class="policy">
                <div class="policy-child">
                    <h2>1. Introduction</h2>
                    <p>This Privacy Policy sets out the basis on which we collect and use personal information from our
                        customers. By using our postage label service, you consent to the practices described in this
                        Policy.</p>
                </div>

                <div class="policy-child">
                    <h2>2. Introduction</h2>
                    <p>We Collect We may collect the following types of personal information from you when you use our
                        postage label service:</p>
                    <ul class="ul">
                        <li>Name</li>
                        <li>Email address</li>
                        <li>Phone number</li>
                        <li>Shipping address</li>
                        <li>Payment information (credit card, PayPal, etc.)</li>
                        <li>Shipping history and preferences
                        </li>
                    </ul>
                </div>
                <div class="policy-child">
                    <h2>3. How We Use Your Information We use your personal information to:</h2>
                    <ul class="ul">
                        <li>Process your shipping labels</li>
                        <li>Provide customer support</li>
                        <li>Improve our service</li>
                        <li>Communicate with you about new features and promotional offers</li>
                        <li>Comply with legal obligations</li>
                    </ul>
                </div>
                <div class="policy-child">
                    <h2>4. Sharing Your Information</h2>
                    <p>We do not sell or rent your personal information to third parties. However, we may share your
                        information with our trusted third-party partners who assist us in providing our services, such
                        as:</p>
                    <ul class="ul">
                        <li>Shipping carriers (UPS, FedEx, etc.)</li>
                        <li>Payment processors (PayPal, Stripe, etc.)</li>
                        <li>Customer service providers</li>
                        <li>Marketing partners</li>
                    </ul>
                </div>
                <div class="policy-child">
                    <h2>5. Security Measures</h2>
                    <p>We take the security of your personal information seriously and have implemented appropriate
                        technical and organizational measures to protect it from unauthorized access, use, disclosure,
                        alteration, or destruction. These measures include:</p>
                    <ul class="ul">
                        <li>Secure connections (HTTPS)</li>
                        <li>Encryption of sensitive data</li>
                        <li>Access controls</li>
                        <li>Firewalls</li>
                        <li>Regular security audits</li>
                    </ul>
                </div>
                <div class="policy-child">
                    <h2>6. Data Retention</h2>
                    <p>We will retain your personal information for as long as necessary to provide our services and to
                        comply with legal obligations. If you wish to have your information removed from our systems,
                        please contact us at report@baxify.com</p>
                </div>
                <div class="policy-child">
                    <h2>7. Cookies and Tracking Technologies</h2>
                    <p>We use cookies and tracking technologies to improve your experience on our website and to
                        understand how our service is being used. Cookies are small files that are placed on your device
                        when you visit our website. They allow us to remember your preferences and to provide a more
                        personalized experience. You can control cookies through your browser settings.</p>
                </div>
                <div class="policy-child">
                    <h2>8. Third-Party Links</h2>
                    <p>Our website may contain links to third-party websites. We are not responsible for the privacy
                        practices or content of these websites. We encourage you to review the privacy policies of these
                        websites before providing them with your personal information.</p>
                </div>
                <div class="policy-child">
                    <h2>9. Children’s Privacy</h2>
                    <p>Our service is not intended for use by children under the age of 13. We do not knowingly collect
                        personal information from children under the age of 13.</p>
                </div>
                <div class="policy-child">
                    <h2>10. Your Rights Under applicable data protection laws, you may have the right to:</h2>
                    <ul class="ul">
                        <li>Access and receive a copy of your personal information</li>
                        <li>Correct or update your personal information</li>
                        <li>Delete your personal information</li>
                        <li>Object to the processing of your personal information</li>
                        <li>Restrict the processing of your personal information</li>
                        <li>Withdraw your consent to the processing of your personal information</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <!-- Privacy Policy End -->



    <!-- footer section -->

    <section class="footer">
        <img src="http://baxify.com/assets/images/logo.svg" alt="">
        <div class="icons">
            <div class="footer-icons">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="footer-fonts">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-pinterest-fill"></i></a>
            </div>
            <div class="main-child">
                © 2023 All rights reserved.
                <a href="index.html">Baxify</a>
            </div>
        </div>
    </section>
</body>

</html>
